.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 2px solid white;
  border-radius: 1em;
  padding-left: 2%;
  padding-right: .5%;
  height:7vh;
  width:100%;
  font-size: 60%;
  color:white;
}

.view-location-button {
  border:none;
  border-radius: 5px;
  background-color: transparent;
  color: darkblue;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
