.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 1em;
  width: 80vw;
}

.card-text {
  color: white;
  text-decoration-line: underline;
}

.view-location-button {
  cursor: pointer;
  border:none;
  border-radius: 5px;
  background-color: transparent;
  color: darkblue;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
