h2, p {
  margin: 0
}

.day-card {
  background-color: rgb(206, 185, 185);
  color: black;
  margin: 1em;
  border: 2px solid black;
  border-radius: 2em;
  padding: 1em;
}

.date {
  width: 5em
}

.img {
  width: 10vw;
  height: 10vw;
}

.condition-img{
  margin-top: -1em;
} 

.condition-text{
  margin-top: -.5em;
}

.high-low{
  width: 5em
}

.rise-set {
  display: flex;
  align-items: center;
  justify-content: center;
}

.giphy-img {
  width: 3em;
  height: 3em;
  border-radius: 2em;
  margin: 7px
}

.condition-ti {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #707298;
  border-radius: 1em;
  border: 2px solid black;
  color: white;
}

.hours-container {
  display: grid;
  grid-template-columns: repeat(12,1fr);
  justify-content: center;
  grid-gap: 8px;
  width: 70vw;
}

@media screen and (max-width: 1050px) {
  .hours-container {
    display: grid;
    grid-template-columns: repeat( 6, 1fr);
    justify-content: space-around;
    grid-gap: 8px;
    width: 70vw;
  }
}