p {
  margin: 0
}

.day-card {
  background-color: rgb(206, 185, 185);
  color: black;
  margin: 1em;
  border: 2px solid black;
  border-radius: 2em;
  padding: 1em;
}

.img{
  height: 5em;
  width: 5em;
}

.condition-ti {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #707298;
  border-radius: 1em;
  border: 2px solid black;
  color: white;
}