.location-view {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 1em;
  text-shadow: .5px .5px black;
  width: 80vw;
}

.current-conditions {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: inherit;
  flex-wrap: wrap;
  background-color: #707298;
  border-radius: 1em;
  border: 2px solid black;
  width: 70vw;
}

.days-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.focus-card-title {
  font-size: 3em;
  margin-bottom: 0em;
}

.focus-temp {
  font-size: 2em;
  margin: 0.5em;
}

.focus-section-nav {
  display: flex;
  justify-content: center;
}

.save-button {
  border: 2px solid white;
  border-radius: 1em;
  color: white;
  background-color: transparent;
  margin: 0.5em;
}

.save-button:hover {
  border: 2px solid black;
  background-color: white;
  color:black;
}

.back-button {
  cursor: pointer;
  margin-top: 32px;
  background-color: transparent;
  border: none;
  margin: 0;
}

.location-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 1050px) {
  .days-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}