.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    height:17vh;
    width:100%;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.2);

}

.title {
    color :white;
    font-size: 4vh;
    text-shadow: .5px .5px black;
    margin-left: 41%;
}

.view-saved-button {
    background-color: transparent;
    border:none;
    margin-left:36vw;
    color:white
}