.saved-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 8px 0 8px;
}

.saved-section {
  width: 100vw
}

.saved-section-nav {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.no-saved {
  color: white;
  font-size: 4vh;
}

.home-button {
  cursor: pointer;
  border: none;
  height: 3.7vh;
  width: 5em;
  border-radius: 5px;
  background-color: transparent;
  color: darkblue;
}

.remove-saved {
  cursor: pointer;
  background: transparent;
  border: none;
  color: white;
}

.saved-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 1em;
  height: 45vh;
  width: 18%;
  font-size: 80%;
  margin: 16px;
  color: white;
}

@media screen and (max-width: 1050px) {
  .saved-card {
    width: 22%;
  }
}

@media screen and (max-width: 870px) {
  .saved-card {
    width: 26%;
  }
}

@media screen and (max-width: 750px) {
  .saved-card {
    width: 30%;
  }
}

@media screen and (max-width: 690px) {
  .saved-card {
    width: 55%;
  }
  .saved-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
  }
}

@media screen and (max-width: 575px) {
  .saved-card {
    width: 65%;
  }
}

@media screen and (max-width: 539px) {
  .saved-card {
    width: 70%;
  }
}

@media screen and (max-width: 575px) {
  .saved-card {
    width: 75%;
  }
}

@media screen and (max-width: 414px) {
  .saved-card {
    width: 80%;
  }
}