.App {
  text-align: center;
  background-image: linear-gradient(rgb(153, 176, 229), darkBlue);
  min-height: 100vh;
  color: white;
}

.search {
  margin-bottom: 2em;
  height: 5vh;
  width: 20vw;
  border-radius: 5px;
  border: none;
}

.weather-card-container {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .search {
    width: 40vw
  }
}